In [4]:
import pandas as pd
import numpy as np
import mysql.connector
import math

In [6]:
# Connect to mysql 
conn = mysql.connector.connect(
    host="192.168.3.19",
    user="lighthouse",
    password="letmein",
    database="sample_db"
)

In [15]:
# Load and clean CSV
def load_and_clean_csv(filepath: str) -> pd.DataFrame:
    df = pd.read_csv(filepath)
    df.columns = (
        df.columns
            .str.strip()
            .str.replace(" ","")
    )
    date_cols = [
        "ApplicationDate",
        "DateEmailReceived",
        "ApprovedDate"
    ]
    for col in date_cols:
        if col in df.columns:
            df[col] = pd.to_datetime(df[col], errors="coerce").dt.date

    bool_map = {
        "Yes": 1, "No": 2, "Unknown": 3,
        "Y": 1, "N": 2, "U": 3,
        True: 1, False: 2
    }
    bool_cols = ["Approved", "SampleSent", "ResultReceived"]
    for col in bool_cols:
        if col in df.columns:
            df[col] = df[col].map(bool_map)
            df[col] = df[col].astype(object).where(df[col].notna(), None)

    return df

In [13]:
#Force mysql safe values
def df_to_mysql_safe(df: pd.DataFrame) -> pd.DataFrame:
    df = df.astype(object)
    df = df.replace({np.nan: None})
    return df

In [18]:
# Load CSV data
csv_path = "applications.csv"
df_csv = load_and_clean_csv(csv_path)
df_csv = df_to_mysql_safe(df_csv)

df_csv.head()

,ApplicationID,ApplicationDate,DateEmailReceived,Approved,ApprovedDate,SampleSent,ResultReceived,ResultDate,Sex,DateOfBirth,...,DTGScore,DTGLevel,EVGScore,EVGLevel,RALScore,RALLevel,AlgorithmName,AlgorithmVersion,AlgorithmDate,TB_Treatment
0,P2131,2025-04-06,2025-04-06,1.0,2025-06-06,1.0,1.0,None,Male,31/12/2009,...,0.0,1.0,0.0,1.0,0.0,1.0,HIVDB,9.8,None,None
1,P2194,2025-01-07,2025-01-07,1.0,2025-02-07,1.0,1.0,None,Male,20/09/2008,...,0.0,1.0,0.0,1.0,0.0,1.0,HIVDB,9.8,None,None
2,P2033,None,None,1.0,None,1.0,1.0,None,Male,08/01/2015,...,110.0,5.0,235.0,5.0,170.0,5.0,HIVDB,9.8,None,Y
3,P1235,None,None,1.0,None,1.0,1.0,None,Male,06/08/2021,...,0.0,1.0,0.0,1.0,0.0,1.0,HIVDB,9.8,None,None
4,P1998,None,None,1.0,None,1.0,1.0,None,Male,13/11/2014,...,10.0,2.0,60.0,5.0,60.0,5.0,HIVDB,9.8,None,None